<%# ================================= NAVBAR ================================ %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<%# ================================= BANNER ================================ %>
<div class="banner">
  <div class="container">
    <div class="banner-infos">

      <%# ---------- night sky ------------- %>
      <div class="main-container">
        <div class="sub-container">
          <div class="sky">
            <div class="stars"></div>
            <div class="stars2"></div>
            <div class="stars3"></div>
            <div class="comet"></div>
          </div>
        </div>
      </div>

      <h1>Pkshdfhdfb</h1>
      <h2>Pyhorns - Developper Fullstack</h2>

      <%# ----------- typed js ------------- %>
      <div class="d-flex align-items-center"> <h2 data-controller="typed-js"></h2></div>
      <button>click</button>
      <a href="#" class="btn btn-success">Click me!</a>

    </div>
  </div>
</div>

<%# ---------- night sky ------------- %>
<%# <div class="main-container">
  <div class="sub-container">
    <div class="sky">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
      <div class="comet"></div>
    </div>
  </div>
</div> %>

<%# ============================ CONTAINER INFOS ============================ %>
<div data-controller="scroll-reveal" data-scroll-reveal-target="item" class=" container-infos container reveal">

  <div>
    <h2>Mes infos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente temporibus atque. Laborum dignissimos quaerat totam. Reprehenderit, eveniet. Voluptatibus ducimus culpa aperiam rerum qui omnis assumenda doloremque accusamus nulla laborum!</p>
  </div>

  <div class="container-infos-grid">
    <div class="card-info">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-info-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-info-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-info-user avatar-bordered" />
      </div>
    </div>

    <div class="card-info">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-info-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-info-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-info-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>

<%# =========================== CONTAINER PROJECTS ========================== %>
<div data-controller="scroll-reveal" data-scroll-reveal-target="item" class="container-projects reveal">
  <div class="container">

    <div style="color:whitesmoke;">
      <h2>Mes projets</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente temporibus atque. Laborum dignissimos quaerat totam. Reprehenderit, eveniet. Voluptatibus ducimus culpa aperiam rerum qui omnis assumenda doloremque accusamus nulla laborum!</p>
    </div>

    <div class="container-projects-grid">

      <div class="card-project">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-project-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>

      <div class="card-project">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-project-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>

      <div class="card-project">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-project-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ---------- night sky ------------- %>
<div class="main-container">
  <div class="sub-container">
    <div class="sky">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
      <div class="comet"></div>
    </div>
  </div>
</div>

<%# ============================= CONTAINER MAP ============================= %>
<div data-controller="scroll-reveal" data-scroll-reveal-target="item"  class="reveal">
  <div class="container container-map">

    <div class="map-experiences my-5 me-4">
      <h2>Explications</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur animi enim facere. Eum sint et in ipsam, eius accusantium delectus voluptas impedit fugit obcaecati tempore cupiditate labore ipsa nobis earum!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur animi enim facere. Eum sint et in ipsam, eius accusantium delectus voluptas impedit fugit obcaecati tempore cupiditate labore ipsa nobis earum!</p>
      <a href="#" class="btn btn-success">Click Me!</a>
    </div>

    <div class=" map ms-4"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<%# ================================= FOOTER ================================ %>
<div data-controller="scroll-reveal" data-scroll-reveal-target="item" class="footer reveal">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
